@model Contoso.Models.AppointmentModel

@{
    ViewBag.Title = "Index";
}




<div class="jumbotron">
    <h1>CONTOSO</h1>
</div>

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Appointment", FormMethod.Post, new { role = "form" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Speciality)
                        @Html.DropDownListFor(m => m.Speciality, // 1. Store selected value in Model.State;
                                                                 // when page is rendered after postback,
                                                                 // take selected value from Model.State.

                                               Model.Specialities,

                                              // 3. Text for the first 'default' option
                                              "- Please select a speciality -",

                                              //4. A class name to assign to <select> tag
                                              new { @class = "form-control" })
                        @Html.ValidationMessage("Speciality", "*")
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address)
                        @Html.DropDownListFor(m => m.Address, // 1. Store selected value in Model.State;
                                                                 // when page is rendered after postback,
                                                                 // take selected value from Model.State.

                                               Model.BranchNames,

                                              // 3. Text for the first 'default' option
                                              "- Please select a speciality -",

                                              //4. A class name to assign to <select> tag
                                              new { @class = "form-control" })
                       @Html.ValidationMessage("Address", "*")
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SlotName)
                        @Html.TextBoxFor(m => m.SlotName, new { @class = "form-control", id="requiredfield", onkeyup="stoppedTyping()"})
                        @Html.ValidationMessage("SlotName", "Please enter your name.", new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>

                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-lg-8">
        <div class="panel panel-info">
            @using (Html.BeginForm("Done", "Appointment", FormMethod.Post, new { role = "form" }))
            {
                if (ViewBag.DoctorSchedule != null)
                {
                    foreach (var user in (Dictionary<Contoso.Models.User, List<Contoso.Models.Schedule>>)ViewBag.DoctorSchedule)
                    {
                        <table>
                            <tr>
                                <td>
                                 @user.Key.FirstName
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <ul>
                                                    @foreach (var item in user.Value)
                                                    {
                                                        <li>@item.Day </li>
                                                        <li>@item.StartTime</li>
                                                        <li>@item.EndTime</li>
                                                        <li>@item.Room</li>
                                                    <li>@Html.ActionLink("Book Available Slots!", "Done", new { ScheduleId = @item.Id,
                                                                                                UserId = @item.DoctorId,
                                                                                                DoctorId = @user.Key.Id,
                                                                                                EndTime = @item.EndTime,
                                                                                                StartTime = @item.StartTime,
                                                                                                SlotName = Model.SlotName
                                                    })</li>
                                                    }
                                                    </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    }
                }
            }
        </div>
    </div>
</div>
