@model Contoso.Models.AppointmentModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (ViewBag.user != null)
{
    <p>@ViewBag.FirstName</p>
    <p>@ViewBag.LastName</p>
    <p>@ViewBag.Age</p>
    <p>@ViewBag.PhoneNumber</p>
    <p>@ViewBag.Email</p>
}

